@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');

body {
    margin: 0;
    font-family: "Poppins", sans-serif;
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: black;
    
}

/*codigo modo dark*/
.checkbox {
  opacity: 0;
  position: absolute;
}

.checkbox2 {
  opacity: 0;
  position: absolute;
}

.checkbox-label {
  background-color: #111;
  width: 50px;
  height: 25px;
  border-radius: 50px;
  position: relative;
  padding: 5px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.checkbox-lang {
  background-color: #111;
  width: 90px;
  height: 25px;
  border-radius: 50px;
  position: relative;
  padding: 5px;
  cursor: pointer;
  display: flex;
  justify-content: space-evenly;
  gap: 10px;
  align-items: center;
}

.pt {
z-index: 1000;
color: black;
}

.eng {
  z-index: 1000;
}

.fa-moon {color: #f1c40f;}

.fa-sun {color: #f39c12;}

.checkbox-label .ball {
  background-color: #fff;
  width: 25px;
  height: 25px;
  position: absolute;
  left: 6px;
  top:5px;
  border-radius: 50%;
  transition: transform 0.5s linear;
}

.checkbox-lang .ball {
  background-color: #fff;
  width: 45px;
  height: 25px;
  position: absolute;
  left: 8px;
  top:5px;
  border-radius: 50%;
  transition: transform 0.5s linear;
  opacity: 0.6;
}

.home img {
  max-width: 80%;
  border-radius: 14px;
  opacity: 0.7;
}

.checkbox:checked + .checkbox-label .ball {
  transform: translateX(24px);
}

.checkbox2:checked + .checkbox-lang .ball {
  transform: translateX(37px);
}



/*fim codigo*/



.drop-config {
  list-style: none;
  border-radius: 10px;
  padding: 20px 15px;
  z-index: 7000;
  position: absolute;
  top: 50px;
  right: 5px;
  text-decoration: none;
  background-color: rgba(34, 22, 105, 0.9);
  display: none; /* Inicialmente oculto */
}

.drop-config.activeDrop {
  display: flex;
  gap: 10px;
  flex-direction: column; /* Mostra quando a classe activeDrop está presente */
}

.drop-config a {
  text-decoration: none;
  color: #fff;
}



.arrows {
  color:rgb(96, 78, 196);
  
  position: absolute;
  top: 40%;
  z-index: 10000;
  transform: translateY(-50%);
  font-size: 50px;
  cursor: pointer;
  padding: 20px;
}

.arrows .left {
position: absolute;
top: 20%;
left: -10%;

}

.arrows .right {
position: absolute;
top: 20%;
right: -1180%;
}
.video-background {

  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  width: 100vw;
  height: 100vh;
  z-index: -10; /* Fica atrás do conteúdo */
  overflow: hidden;
}

#bg-video {
  position: absolute;
  top: 50%;
  left: 60%;
  min-width: 130%;
  min-height: 100%;
  width: auto;
  height: auto;
  transform: translate(-50%, -50%);
  z-index: -1;
  background-size: cover;
  object-fit: cover;
  transition: all 1s ease;
}

.model3d {
    width: 500px;
    max-width: 500px;
 
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(15%,10%);
 
}

.info {
    position: relative;
    perspective: 2000px; /* Define a perspectiva 3D */
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 400px; /* Tamanho fixo para o efeito */
}

.video {
  width: 100%;
}

/* O quadrado básico */
.info > .info-menu {
    width: 500px;
    height: 600px;
    border: 1px solid rgb(51, 51, 119);
    border-radius: 20px;
    border-right:transparent;
    color: white;
    display: none; /* Inicialmente oculto */
    background-color: rgba(0, 0, 0, 0.9);
    padding: 30px;
    position: absolute;
    backface-visibility: hidden; /* Oculta o outro lado durante a rotação */
    transform: rotateY(0deg); /* Posição inicial */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3), 0 6px 20px rgba(0, 0, 0, 0.2);
    overflow-y: auto;
  
    
    scrollbar-color: #e0e0e0   rgb(51, 51, 119) ; 
    transition: transform 1s ease, opacity 1s ease;
    box-shadow: 
        0 0 5px rgba(51, 51, 119, 0.8), 
        0 0 10px rgba(51, 51, 119, 0.7), 
        0 0 15px rgba(51, 51, 119, 0.5), 
        0 0 20px rgba(51, 51, 119, 0.3); 
}


/* O quadrado ativo (o que está visível) */
.info > .info-menu.active {
    display: block; /* Exibe o conteúdo */
    animation: appear 1s ease forwards;
 

}

.info .home h1 {
  text-align: left;
}



.info .home .detail {
    margin-top: 40px;
}

 .pro-title {
  border: 1px solid rgb(51, 51, 119);
  border-radius: 10px;
  width: 250px;
  text-align: right;
  box-shadow: 
  0 0 5px rgba(51, 51, 119, 0.3), 
  0 0 10px rgba(51, 51, 119, 0.3), 
  0 0 15px rgba(51, 51, 119, 0.3), 
  0 0 20px rgba(51, 51, 119, 0.3); 

  position: absolute;
  left: 30%;
  top: 20%;
  transform: translateX(-20%);
  z-index: 60000;
  color: #fff;
  background-color: #000;
  z-index: 50000;
}

.contact .content h1 {
  border: 1px solid rgb(51, 51, 119);
  box-shadow: 
  0 0 5px rgba(51, 51, 119, 0.3), 
  0 0 10px rgba(51, 51, 119, 0.3), 
  0 0 15px rgba(51, 51, 119, 0.3), 
  0 0 20px rgba(51, 51, 119, 0.3); 

  text-align: right;
  border-radius: 10px;
  width: 250px;
  padding-right: 20px;

  transform: translateX(-20%);
  z-index: 60000;
  color: #fff;
  background-color: #000;
}

.email {
  font-size: 18px;
}

.info .contact {
  overflow-y: hidden;
}

@keyframes appear {
    0% {
        opacity: 0;
        transform: rotateY(90deg) translateX(-100px) translateY(200px);
    }
    50% {
        opacity: 0.5;
        transform: rotateY(0deg)  translateX(-100px) translateY(200px);
    }
    100% {
        opacity: 1;
        transform: rotateY(0deg)  translateX(-100px) translateY(200px); /* Move para a direita */
    }
}

.model3d model-viewer {
    width: 400px;
    height: 400px;
    transition: all 2s ease;
    background-color: transparent;
    z-index: -1;
  
 
    
    
}
.projects {
  position: relative; /* Para que os elementos filhos possam usar posições relativas ao contêiner */
  overflow-y: hidden;
  overflow-x: hidden;
  

}



.viewall {
  border: 1px solid rgb(51, 51, 119);
  border-radius: 14px;
  padding: 10px 5px;
  width: 120px;
  background: transparent;
  color: #fff;
  position: absolute;
  bottom: 10px;
  font-size: 18px;
  cursor: pointer;

}

.viewall a {
  text-decoration: none;
  color: #fff;
}

.subtitle {
  color:rgb(51, 51, 119) ;
  width: 80%;
 border-bottom: 1px solid rgb(51, 51, 119) ;
}

.skills {
  display: flex;
  gap: 20px;
  width: 400px;
  flex-wrap: wrap;
}

.skill {
  display: flex;
  align-items: center;
  gap: 7px;
  font-size: 24px;
}

.projects h1 {
  position: fixed; /* Fixa o elemento na viewport */
  top: 10px;      /* Distância do topo da janela */
  left: 20px;     /* Distância da esquerda */
  z-index: 1000;  /* Garante que fique acima de outros elementos */
  background-color: rgba(0, 0, 0, 0.7); /* Fundo para melhorar a visibilidade */
  color: white; /* Cor do texto */
  padding: 5px; /* Espaçamento interno */
}

.works {
  margin-top: 80px;
  display: flex;
  height: 400px;

  /*flex-direction:column*/
  gap: 40px;
  align-items: center;
  padding: 5px;
  overflow-x: scroll;
 
 box-sizing: border-box;
scroll-behavior: smooth;


}

.perfil {
  display: flex;
  gap: 20px;
}

.perfil img {
  width: 200px;
}

.perfil-info {
  display: flex;
  flex-direction: column;
  line-height: 0;
  justify-content: center;
}

.proj {
  border: 1px rgb(51, 51, 119) solid;
  min-width: 350px;
  height: 350px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
 position: relative;
  cursor: pointer;
  transition: transform .4s ease;
  background-color:rgba(51, 51, 119, 0.7);
  z-index:2;
 
}

.proj h2 {
  position: absolute;
  top: 280px;
  left: 20px;
}

.proj h4 {
  position: absolute;
  top: 250px;
  left: 20px;
  color: rgb(117, 74, 156);
}

.proj .animal {
  width: 500px;

}



.proj:hover {
 transform: scale(1.03);
}

.proj .img {
  width: 100%;
 height: 250px;
  overflow: hidden; /* Para esconder a parte que ultrapassar do contêiner */
  border-radius: 20px 20px 0 0;
}

.proj img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Garante que a imagem preencha o contêiner sem distorcer */
  object-position: center; /* Centraliza a imagem */
}

.dash {
  width: 150%;
}

.model3d p {
  position: absolute;
  font-size: 1.6rem;
  color: #fff;
}

.animation {
    animation: side 0.9s ease-in-out forwards;
  }
  
  
  @keyframes side {
    0% {
      transform: translateX(0);
     
    }
    50% {
      transform: translateX(250%);
      
     
    }
  
  
   
  
    100% {
      transform: translateX(0);
     
    }
  }
  

  .menu {
    color: #fff;
    cursor: pointer;
    font-weight: bold;
    padding: 10px 15px;
    position: relative;
    transition: color 0.3s ease; /* Transição suave da cor */
}

/* Estilo para o menu ativo */
.menu.active-menu {
    color: rgb(51, 51, 119);
    

}

/* Pseudo-elemento para criar a borda "móvel" */
.menu::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: rgb(51, 51, 119); /* Cor da borda animada */
    transition: width 0.3s ease, left 0.3s ease; 
    box-shadow: 0 0 20px rgba(51, 51, 119, 0.5); /* Transição suave de largura e posição */
}

/* Quando o menu está ativo, a borda aparece e ocupa toda a largura */
.menu.active-menu::after {
    width: 100%;
    left: 0;
}

/* Adiciona uma borda inferior ao passar o mouse (hover) */
.menu:hover::after {
    width: 100%;
}
  
  .active-menu model-viewer {
    animation: side 1s ease-in-out forwards;
  }

  .config {
    color: #fff;
    position: absolute;
    top: 44px;
    right: 15%;
    font-size: 20px;
    z-index: 5000;
    cursor: pointer;
  }
  
  .header {
    display: flex;
    justify-content: center;
    gap: 2rem;
    list-style: none;
    width: 700px;
    margin: 0 auto;
    margin-top: 30px;
  
  }

  .header > div {
    display: flex;
    gap: 15px;
    justify-self: center
  }
  
  @media (max-width: 768px) {
    .header {
      position: absolute;
      left: 50%;
      top: 1%;
      transform: translateX(-50%);
      z-index: 10000;

    }

    .model3d {
        top: 80%;
        transform: translateY(-30%);
    }

    .info {
        padding: 10px;
    }

    .config {
      color: #fff;
      position: absolute;
      top: 15px;
      right: 14%;
      font-size: 20px;
    }
  

    .info-menu {
      transform: rotateY(0deg);
      left: 50%;
      top: 110%;
      z-index: -1;
    }

    .info > .info-menu {
        padding: 20px 10px;
    }

    .proj {
        max-width: 100%;
        width: 100%;
    }

    .model3d model-viewer {
        max-width: 100%;
       
    }

    #bg-video {
      min-width: 100%;
      min-height: 100%;
      /* Evita que o vídeo "vire" */
      width: auto;
      height: auto;
  
    }

    .works {
        width: 100%;
        overflow-y: hidden;
    }

    @keyframes appear {
      0% {
          opacity: 0;
          transform: rotateY(90deg) translate(-50%,-50%);
      }
      50% {
          opacity: 0.5;
          transform: rotateY(0deg)  translate(-50%,-50%);
      }
      100% {
          opacity: 1;
          transform: rotateY(0deg)  translate(-50%,-50%); /* Move para a direita */
      }
  }

  .model3d model-viewer {
    height: 250px;
    left: -5%;
  
   
}

.content {
  padding: 20px;
}

.works {
  position: absolute;
  z-index: 5000;

 top: 20px;
 left: 50%;
 transform: translateX(-50%);
}
  
}

@media (max-width: 550px) {
    .menu {
        font-size: 0.9rem;
    }

    .perfil {
      display: flex;
     flex-direction: column;
     align-items: center;
     width: 100%;
     text-align: center;
     
    }

    .info .home .detail {
      margin-top: 20px;
  }
  

    .perfil h1 {
      font-size: 24px;
    }
    
    .perfil img {
      width: 250px;
    }
    
    .perfil-info {
      display: flex;
      flex-direction: column;
      line-height: 0;
      justify-content: center;
      flex-wrap: wrap;
      
    }

    .config {
      color: #fff;
      position: absolute;
      top: 10px;
      right: 27%;
      font-size: 20px;
    }

    .skills {
      width: 300px;
    }

    .skill {
      font-size: 20px;
     
    }
 
    .model3d model-viewer {
        height: 200px;
        left: -15%;
        transform: translateY(10%);
       
    }
    @keyframes side {
      0% {
        transform: translateX(0) translateY(10%);
        
       
      }
      50% {
        transform: translateX(250%) translateY(10%);
        
       
      }
    
    
     
    
      100% {
        transform: translateX(0) translateY(10%);
       
      }
    }


    
   .arrows .right {
    right: -780%;
  
   }

    .info-menu {
      transform: rotateY(0deg)  translateX(-20%) translateY(10px);
      top: 100%;
      max-width: 350px;
      max-height: 500px;
      overflow-y: scroll;
      scroll-behavior: auto;
    }

    @keyframes appear {
      0% {
          opacity: 0;
          transform: rotateY(90deg) translate(-50%,-50%);
      }
      50% {
          opacity: 0.5;
          transform: rotateY(0deg)  translate(-50%,-50%);
      }
      100% {
          opacity: 1;
          transform: rotateY(0deg)  translate(-50%,-50%); /* Move para a direita */
      }
  }

  .proj {
    min-width: 300px;
  height: 380px;
  }

  .proj h2 {
   
    top: 280px;
    left: 20px;
  }
  
  .works {
    top: -10px;
  }

  .header {
    display: flex;
    justify-content: center;
    gap: 2rem;
    list-style: none;
    width: 700px;
    margin: 0 auto;
    padding-right: 2rem;
    margin-top: 30px;
  
  }

}

@media (max-width:400){
  .info-menu {
    transform: rotateY(0deg)  translateX(-20%) translateY(10px);
    top: 100%;
    max-width: 320px;
    max-height: 300px;
  }
}
  